@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhand';
    src: url('/fonts/Shrikhand-Regular.otf');
}

@import "./utils/variables.sass";
@import "./utils/fonctions.sass";
@import "./utils/mixins.sass";
@import "./la_palette_du_gout.scss";


body {
    width: 100%;
    margin: 0;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

header {
    box-shadow: 0px 5px 5px rgb(204, 204, 204);
    
    & img {
        display: flex;
        margin: auto;
    }
}

.location {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    background-color: rgb(237, 237, 237);
}

.explor {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $background;
    
    & p {
        font-weight:100;
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .choisissiez_list {
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px ;
            background-color: $colour-primary;
        }
        & i {
            display: flex;
            align-items: center;
        }
        &-titre {
            display: flex;
            align-items: center;
        }
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .composez_list {
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px ;
            background-color: $colour-primary;
        }
        & i {
            display: flex;
            align-items: center;
        }
        &-titre {
            display: flex;
            align-items: center;
        }
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .degustez_list {
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            background-color: $colour-primary;
        }
        & i {
            display: flex;
            align-items: center;
            color: $colour-primary;
        }
        &-titre {
            display: flex;
            align-items: center;
        }
    }
}

.resto {
    width: 100%;
    background-color: $background;
    &_list {
        background-color: white;
        border-radius: 25px;
        box-shadow: 5px 10px 10px rgb(230, 230, 230);
        &-description {
            display: flex;
            flex-direction: wrap;
            align-items: center;
            justify-content: space-between;
        }
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    & .description {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .container {
       margin: 6% 9% 6% 9%;
    }

    header .fas {
        float: left;
        margin-left: 35px;
        margin-top: 35px;
    }
    header img {
            width: 40%;
            padding-top: 4%;
            padding-bottom: 4%;
        }
    
    .location .fas {
            margin-top: 16px;
            padding-right: 2%;
        } 
    
    .explor {
        height: 275px;
    }

    .bouton {
    @include bouton;
    }

    
    .step {
        height: 300px;
        .choisissiez_list {
            @include step($background);
            &-number {
                margin-top: 5%;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .step {
        height: 300px;
        .composez_list {
            @include step($background);
            &-number {
                margin-top: 5%;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .step {
        height: 300px;
        .degustez_list {
            @include step(#9256dc1f);
            &-number {
                margin-top: 5%;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .resto {
        height: 1750px;
        &_titre {
            padding-top: 4%;
        }
        &_list {
            height: 375px;
            &-description .titre {
                margin-left: 4%;
            }
            &-description .coeur {
                margin-right: 8%;
                font-size: 2rem;
            }
            &-img img {
                border-radius: 25px 25px 0px 0px;
                width: 100%;
                height: 275px;
            }
        }
    }

    footer {
        height: 250px;
        & .ohmyfood {
            font-size: 2rem;
            margin-left: 9%;
            margin-bottom: 4%;
            padding-top: 4%;
            font-style: italic;
            font-weight: bold;
            font-family: 'shrikhand';
        }
        & .description {
            display: flex;
            margin-left: 9%;
            margin-bottom: 4%;
        }
    }
}