@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Regular-webfont.woff2') format('woff2'),
         url('fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shrikhand';
    src: url('fonts/Shrikhand-Regular.otf');
}

@import "/utils/variables.sass";
@import "/utils/fonctions.sass";
@import "/utils/mixins.sass";
@import "/restaurants.scss";
@import "/animations.scss";


body {
    width: 100%;
    margin: 0;
    font-family: 'robotoregular', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

header {
    box-shadow: 0px 5px 5px rgb(204, 204, 204);
    display: flex;
    & img {
        display: flex;
        margin: auto;
    }
}

.location {
    display: flex;
    justify-content: center;
    margin-top: 1%;
    background-color: rgb(237, 237, 237);
}

.explor {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: $background;
    
    & p {
        font-weight:100;
    }

    & .bouton {
        @include bouton;
        &:hover {
            background: linear-gradient(to bottom right, lighten($colour-secondary, 4) 0%, lighten($colour-primary, 4) 100%);
            transition: opacity 250ms;
            border-radius: 35px;
            box-shadow: 5px 10px 10px 2px rgb(224, 224, 224);
        }
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .choisissiez_list {
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 20px;
            background-color: $colour-primary;
            color: white;
        }
        & i {
            display: flex;
            align-items: center;
        }
        &-titre {
            display: flex;
            align-items: center;
        }
    }
}

.step {
    .composez_list {
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 20px ;
            background-color: $colour-primary;
            color: white;
        }
        & i {
            display: flex;
            align-items: center;
        }
        &-titre {
            display: flex;
            align-items: center;
        }
    }
}

.step {
    .degustez_list {
        &-number {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            border-radius: 20px;
            background-color: $colour-primary;
            color: white;
        }
        & i {
            display: flex;
            align-items: center;
            color: $colour-primary;
        }
        &-titre {
            display: flex;
            align-items: center;
        }
    }
}

.resto {
    width: 100%;
    background-color: $background;
    &_titre {
        margin: 6%;
    }
    &_list {
        background-color: white;
        border-radius: 25px;
        box-shadow: 5px 10px 10px rgb(230, 230, 230);
        &-img .nouveau {
            padding: 2%;
            position: relative;
            font-weight: 1em;
            font-weight: bold;
            color: #5b867c;
            background-color: $colour-tertiary;
        }
        &-description {
            display: flex;
            flex-direction: wrap;
            align-items: center;
            justify-content: space-between;
            & .coeur{
                & .far {
                    position: absolute;
                    color: black;
                    z-index: 1;
                    &:hover {
                        z-index: 0;
                        opacity: 0;
                        color: white;
                    }
                }
                & .fas {
                    position: absolute;
                    transition: opacity 600ms;
                    z-index: 0;
                    opacity: 0;
                    &:hover {
                        z-index: 1;
                        opacity: 1;
                        color: $colour-primary;
                    }
                }
            }   
        }
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.699);
    color: white;
    & .description {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .container {
       margin: 6%;
    }

    header img {
            width: 40%;
            padding-top: 4%;
            padding-bottom: 4%;
        }
    
    .location .fas {
            margin-top: 16px;
            padding-right: 2%;
        } 
    
    .explor {
        height: 275px;
    }

    .step_titre {
        margin: 9%;
    }
    
    .step {
        height: 300px;
        .choisissiez_list {
            @include step($background);
            &-number {
                right: 10px;
                top: 26px;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .step {
        height: 300px;
        .composez_list {
            @include step($background);
            &-number {
                right: 10px;
                top: 26px;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .step {
        height: 300px;
        .degustez_list {
            @include step(#9256dc1f);
            &-number {
                right: 10px;
                top: 26px;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .resto {
        height: 1750px;
        &_titre {
            padding-top: 4%;
        }
        &_list {
            height: 375px;
            &-img {
                height: 275px;
                & img {
                    border-radius: 25px 25px 0px 0px;
                    width: 100%;
                    height: 275px;
                }
            & .nouveau {
                left: 70%;
                top: -250px;
            }
        }
            &-description {
                & .titre {
                margin-left: 4%;
            }
                & .coeur {
                margin-bottom: 4%;
                margin-right: 15%;
                font-size: 2rem;
            }
        }
        }
    }

    footer {
        height: 250px;
        & .ohmyfood {
            font-size: 2rem;
            margin-left: 9%;
            margin-bottom: 4%;
            padding-top: 4%;
            font-style: italic;
            font-weight: bold;
            font-family: 'shrikhand';
        }
        & .description {
            display: flex;
            margin-left: 9%;
            margin-bottom: 4%;
        }
    }
}

@media screen and (min-width: 601px) {
    .container {
       margin: auto;
    }

    h2 {
        text-align: center;
    }
    
    header img {
            width: 30%;
            padding-top: 4%;
            padding-bottom: 4%;
        }
    
    .location .fas {
            margin-top: 16px;
            padding-right: 2%;
        } 
    
    .explor {
        height: 275px;
    }



    .step_titre {
        margin: 4%;
    }

    
    .step {
        height: 300px;
        .choisissiez_list {
            @include step($background);
            width: 50%;
            margin: auto;
            &-number {
                right: 10px;
                top: 26px;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .step {
        height: 300px;
        .composez_list {
            @include step($background);
            width: 50%;
            margin: auto;
            &-number {
                right: 10px;
                top: 26px;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .step {
        height: 300px;
        .degustez_list {
            @include step(#9256dc1f);
            width: 50%;
            margin: auto;
            &-number {
                right: 10px;
                top: 26px;
                width: 25px;
                height: 25px;
            }
            & i {
                margin: 4%;
            }
            &-titre {
                margin-left: 10%;
            }
        }
    }

    .resto {
        padding-bottom: 4%;
        &_titre {
            padding-top: 4%;
        }
        &_list {
            width: 50%;
            margin-bottom: 2%;
            &-img {
                height: 275px;
                & img {
                    object-fit: cover;
                    border-radius: 25px 25px 0px 0px;
                    width: 100%;
                    height: 275px;
                }
                & .nouveau {
                    left: 74%;
                    top: -250px;
                }
            }
            &-description .titre {
                margin-left: 4%;
            }
            &-description .coeur {
                margin-bottom: 4%;
                margin-right: 15%;
                font-size: 2rem;
            }
        }
    }

    footer {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        & .ohmyfood {
            font-size: 2rem;
            margin-left: 9%;
            font-style: italic;
            font-weight: bold;
            font-family: 'shrikhand';
        }
        & .description {
            display: flex;
            margin-left: 9%;
        }
    }
}