@keyframes check {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

header {
    & a {
        height: 100%;
        margin-top: 5%;
        padding-left: 5%;
    }
}

.photo_resto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 25px 25px 0px 0px;
    background-color: $background;
    margin-top: -5%;
    padding-bottom: 5%;
    width: 100%;
        & .restaurant {
            & h1 {
            margin-right: 4%;
            font-size: 2.5rem; 
            }
            & .far {
                font-size: 2rem;
            }
        }
}

.restaurant {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    & h1 {
        font-family: 'shrikhand';
    }
}

    .menu {
        @include menu($colour-tertiary);
    }

    .plats {
        @include plats;
        &:hover {
            transform-origin: 0%;
            transform: scaleX(0.9);
            transition: transform 350ms linear;
            & .plats_check {
                transition: 350ms;
                display: inline-flex;
                transform-origin: 0%;
                transform: scaleX(1.4);
                & i {
                    animation: check 350ms;
                }
            }
        }
        & .plats_check {
            background-color: $colour-tertiary;
            color: white;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 78px;
            display: inline-flex;
            position: absolute;
            left: 70%;
        }
        &_principale {
            @include principale;
        }
        &_accompagnement {
            @include accompagnement;
        }
        &_prix {
            @include prix;
        }
    }


.bouton {
    @include bouton;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom right, lighten($colour-secondary, 4) 0%, lighten($colour-primary, 4) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        border-radius: 35px;
        box-shadow: 5px 10px 10px 3px rgb(221, 221, 221);
    }
}

@media screen and (max-width: 600px) {
    .plats {
        width: 70%;

    }

    .header img {
            width: 100%;
            position: absolute;
        }
}

@media screen and (min-width: 601px) {
    .container {
        margin: 0%;
    }

    .plats {
        width: 500px;
    }

    header .fas {
        font-size: 1.5em;
    }
    .header img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
