@keyframes icheck {
    0% {
        transform: rotate(-360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes check {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes apparition-plats {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header {
    & a {
        height: 100%;
        margin-top: 5%;
        padding-left: 5%;
    }
}

.photo_resto img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: relative;
}

.menu_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 25px 25px 0px 0px;
    background-color: $background;
    margin-top: -5%;
    padding-bottom: 5%;
    width: 100%;
        & .restaurant {
            & h1 {
            margin-right: 4%;
            font-size: 2.5rem; 
            }
            & .far {
                font-size: 2rem;
            }
        }
}

.restaurant {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 80%;
    & h1 {
        font-family: 'shrikhand';
    }
}

    .menu {
        @include menu($colour-tertiary);
    }

    .plats {
        @include plats;
        animation: apparition-plats 2s linear;
        transform-origin: 0% 0%;
        &:hover {
            & .plats_check {
                animation: check 400ms linear;
                transform-origin: 100%;
                display: inline-flex;
                & i {
                    animation: icheck 400ms linear;
                }
            }
        }
        &_container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            margin: 1%;
        }
        &_container-left {
            display: flex;
            flex-direction: row;
            & .plats_prix {
                display: flex;
                margin-top: 45px;
                margin-right: 20px;
            }
        }
        & .plats_check {
            background-color: $colour-tertiary;
            color: white;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100%;
            display: none;
            left: 70%;
            border-radius: 0px 15px 15px 0px
        }
        &_principale {
            @include principale;
        }
        &_accompagnement {
            @include accompagnement;
        }
        &_prix {
            @include prix;
        }
    }


.bouton {
    @include bouton;
    &:hover {
        background: linear-gradient(to bottom right, lighten($colour-secondary, 4) 0%, lighten($colour-primary, 4) 100%);
        transition: opacity 250ms;
        border-radius: 35px;
        box-shadow: 5px 10px 10px 2px rgb(224, 224, 224);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom right, lighten($colour-secondary, 4) 0%, lighten($colour-primary, 4) 100%);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
        border-radius: 35px;
        box-shadow: 5px 10px 10px 3px rgb(221, 221, 221);
    }
}

@media screen and (max-width: 600px) {
    .plats {
        width: 70%;

    }

    .header img {
            width: 100%;
            position: absolute;
        }
}

@media screen and (min-width: 601px) {
    .container {
        margin: 0%;
    }

    .plats {
        width: 500px;
    }

    header .fas {
        font-size: 1.5em;
    }
    .header img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
