@font-face {
  font-family: "robotoregular";
  src: url("fonts/Roboto-Regular-webfont.eot");
  src: url("fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Roboto-Regular-webfont.woff2") format("woff2"), url("fonts/Roboto-Regular-webfont.woff") format("woff"), url("fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "shrikhand";
  src: url("/fonts/Shrikhand-Regular.otf");
}
.img_footer {
  position: absolute;
}

.menu_container {
  position: relative;
  border-radius: 25px 25px 0px 0px;
  background-color: #f7f7f7;
}

.restaurant {
  display: flex;
}
.restaurant h1 {
  font-family: "shrikhand";
}

@media screen and (max-width: 600px) {
  .img_footer img {
    width: 100%;
  }

  .menu_container {
    margin-top: 55%;
    width: 100%;
    height: 1400px;
  }
  .menu_container .restaurant h1 {
    font-size: 2.5rem;
  }
  .menu_container .restaurant .far {
    font-size: 2rem;
    margin-top: 8%;
    margin-left: 15%;
  }
  .menu_container .menu {
    padding-bottom: 1%;
    width: 10%;
    color: rgba(0, 0, 0, 0.65);
    border-bottom: 3px solid #99E2D0;
  }
  .menu_container .plats {
    background: white;
    border-radius: 15px;
    box-shadow: 5px 10px 10px #e6e6e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 75px;
  }
  .menu_container .plats_principale {
    font-weight: bold;
    margin: 2%;
    width: 100%;
  }
  .menu_container .plats_accompagnement {
    margin: 2%;
    width: 80%;
  }
  .menu_container .plats_prix {
    font-weight: bold;
    margin: 2%;
  }
}
body {
  width: 100%;
  margin: 0;
  font-family: "robotoregular", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  box-shadow: 0px 5px 5px #cccccc;
}
header img {
  display: flex;
  margin: auto;
}

.location {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  background-color: #ededed;
}

.explor {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f7f7f7;
}
.explor p {
  font-weight: 100;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step .choisissiez_list-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #9356DC;
}
.step .choisissiez_list i {
  display: flex;
  align-items: center;
}
.step .choisissiez_list-titre {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step .composez_list-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #9356DC;
}
.step .composez_list i {
  display: flex;
  align-items: center;
}
.step .composez_list-titre {
  display: flex;
  align-items: center;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.step .degustez_list-number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #9356DC;
}
.step .degustez_list i {
  display: flex;
  align-items: center;
  color: #9356DC;
}
.step .degustez_list-titre {
  display: flex;
  align-items: center;
}

.resto {
  width: 100%;
  background-color: #f7f7f7;
}
.resto_list {
  background-color: white;
  border-radius: 25px;
  box-shadow: 5px 10px 10px #e6e6e6;
}
.resto_list-description {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  justify-content: space-between;
}

footer {
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
}
footer .description {
  display: flex;
}

@media screen and (max-width: 600px) {
  .container {
    margin: 6% 9% 6% 9%;
  }

  header .fas {
    float: left;
    margin-left: 35px;
    margin-top: 35px;
  }

  header img {
    width: 40%;
    padding-top: 4%;
    padding-bottom: 4%;
  }

  .location .fas {
    margin-top: 16px;
    padding-right: 2%;
  }

  .explor {
    height: 275px;
  }

  .bouton {
    border-radius: 35px;
    width: 50%;
    height: 40px;
    padding-top: 20px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    text-align: center;
    margin: auto;
    color: white;
  }

  .step {
    height: 300px;
  }
  .step .choisissiez_list {
    display: flex;
    background-color: #f7f7f7;
    width: 85%;
    height: 80px;
    margin-left: 8%;
    box-shadow: 5px 10px 10px #e6e6e6;
    border-radius: 20px;
    font-weight: bold;
  }
  .step .choisissiez_list-number {
    margin-top: 5%;
    width: 25px;
    height: 25px;
  }
  .step .choisissiez_list i {
    margin: 4%;
  }
  .step .choisissiez_list-titre {
    margin-left: 10%;
  }

  .step {
    height: 300px;
  }
  .step .composez_list {
    display: flex;
    background-color: #f7f7f7;
    width: 85%;
    height: 80px;
    margin-left: 8%;
    box-shadow: 5px 10px 10px #e6e6e6;
    border-radius: 20px;
    font-weight: bold;
  }
  .step .composez_list-number {
    margin-top: 5%;
    width: 25px;
    height: 25px;
  }
  .step .composez_list i {
    margin: 4%;
  }
  .step .composez_list-titre {
    margin-left: 10%;
  }

  .step {
    height: 300px;
  }
  .step .degustez_list {
    display: flex;
    background-color: #9256dc1f;
    width: 85%;
    height: 80px;
    margin-left: 8%;
    box-shadow: 5px 10px 10px #e6e6e6;
    border-radius: 20px;
    font-weight: bold;
  }
  .step .degustez_list-number {
    margin-top: 5%;
    width: 25px;
    height: 25px;
  }
  .step .degustez_list i {
    margin: 4%;
  }
  .step .degustez_list-titre {
    margin-left: 10%;
  }

  .resto {
    height: 1750px;
  }
  .resto_titre {
    padding-top: 4%;
  }
  .resto_list {
    height: 375px;
  }
  .resto_list-description .titre {
    margin-left: 4%;
  }
  .resto_list-description .coeur {
    margin-right: 8%;
    font-size: 2rem;
  }
  .resto_list-img img {
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 275px;
  }

  footer {
    height: 250px;
  }
  footer .ohmyfood {
    font-size: 2rem;
    margin-left: 9%;
    margin-bottom: 4%;
    padding-top: 4%;
    font-style: italic;
    font-weight: bold;
    font-family: "shrikhand";
  }
  footer .description {
    display: flex;
    margin-left: 9%;
    margin-bottom: 4%;
  }
}

/*# sourceMappingURL=style.css.map */
