@mixin step($colour)
    display: flex
    background-color: $colour
    width: 85%
    height: 80px
    margin-left: 8%
    box-shadow: 5px 10px 10px rgb(230, 230, 230)
    border-radius: 20px
    font-weight: bold