$colour-primary: #9356DC
$colour-primary-background: #9E5DEE
$colour-secondary: #FF79DA
$colour-secondary-background: #FF8ADF
$colour-tertiary: #99E2D0
$background: rgb(247, 247, 247)
$num-point: 3
$anim-duree: 1s
$anim-delay: 165ms
$page-delay: $anim-duree + $anim-delay